<h1>Edit Paragraph</h1>
<% if !@paragraph.unpublished_changes? %>
  <span>No unpublished changes</span>
<% elsif contentr_publisher? %>
  <%= link_to "Publish!", contentr_admin_publish_paragraph_path(:page_id => @page, :area_name => @area_name, :site => @page.is_a?(Contentr::Site)), class: "bnt btn-mini btn-success" %>
<% else %>
  <span>There are unpublished changes</span>
<% end %>
<%= render 'form' %>
